<div class="row">
  <div class="col-md-12">
    <div class="buttons col-md-3 col-sm-3 col-xs-3" id="plusFont">
      A+
    </div>
    <div class="buttons col-md-3 col-sm-3 col-xs-3" id="minusFont">
      A-
    </div>
    <div class="buttons col-md-3 col-sm-3 col-xs-3" id="night">
      Dark
    </div>
    <div class="buttons col-md-3 col-sm-3 col-xs-3" id="day">
      Light
    </div>
  </div>
</div>
