<div class="row">
  <div class="col-md-12">
    <div class="buttons col-md-3" id="plusFont">
      A+
    </div>
    <div class="buttons col-md-3" id="minusFont">
      A-
    </div>
    <div class="buttons col-md-3" id="night">
      black
    </div>
    <div class="buttons col-md-3" id="day">
      white
    </div>
  </div>
</div>
